@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --card-bg-color: rgba(255, 255, 255, 0.8);
  }
  
  [data-theme='dark'] {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --card-bg-color: rgba(50, 50, 50, 0.8);
  }